<meta charset="utf-8">
<title>Concrete Numbers</title>
<body>
<nav>
<a href="review-editors.html">(previous)</a>
<a href="field-notes-win31.html">(next)</a>
</nav>
<article>
<h1>Concrete Numbers</h1>
<time>2024-02-28</time>
<address>by drj</address>
<p>So i made a house number for my friends out of concrete.
This is a story of how the number <strong>14</strong> gets sketched,
photographed, digitised, printed, traced, cut, cast, taped,
painted, and finally mounted onto the wall of my friends’ house.</p>
<p>Parts of this process i was quite familiar with: lettering,
linocutting; other parts i was not at all familiar with: working
with concrete, gluing things, exterior paint.</p>
<p>Overall i would recommend working with concrete if you are
tempted. At the maker/hobby level i think there is a lot you can
do with it.</p>
<h2>Questions going in</h2>
<ul>
<li>Can you cast onto a linocut (take a cast of a linocut)?
  Answer: yes.</li>
<li>Can you make a linocut with bathroom lino? Answer: Well, you
  can cut it, i haven’t tried making a print yet.</li>
</ul>
<h2>Learnings</h2>
<ul>
<li>Bathroom lino is okay to cut. It’s a bit spongy so the matrix
  moves as you’re cutting it. And it’s a bit shallow.</li>
<li>Can cast concrete onto Lino.</li>
<li>Sculpting with modelling clay is a nightmare...</li>
<li>... and the modelling clay bonded to the concrete.</li>
<li>Liquid vaseline is a good separating agent, but doesn’t stop
  the modelling clay from bonding with the concete—i’m not sure
  that anything would.</li>
<li>8 hour Araldite is good (for gluing metal fixings to concrete)</li>
<li>For painting concrete Hammerite is okay, but Humbrol enamel is
  good.</li>
</ul>
<h2>Brief</h2>
<p>Ad hoc, and partly reconstructed after the fact.</p>
<p>As soon as i saw pictures of my friends’ new house i could see
that we needed to do something about the house number, which
was a fairly bland B&amp;Q type plaque.
As their “friend who is into fonts” i assigned myself the task.
The vibe i was going for was
“no parcel shall go undelivered for lack of clarity over house number”.</p>
<figure>
<img alt="a concrete plaque on a brick wall; the number 14 is
  painted white on the concrete plaque and is raised up a little
  from the surface" src="image/concrete/MountedSquare.jpg" style="max-width:84vmin">
<figcaption>
I made this!
</figcaption></figure>

<h2>Pencil sketches</h2>
<p>Sketching is probably the most influential part in terms of the
art and design.
I wanted a clear functional design, rather than an ornate one.
House numbers serve a function: to denote the house.</p>
<figure>
<img alt="A haphazardly arrange series of sketches of the numbers 1
  and 4; sometimes in similar styles, sometimes not. At some
  point i started drawing sideways." src="image/concrete/Sketch.jpg" style="height:84vmin">
<figcaption>
My pencil sketches, Blackwing Matte on Rhodia dotPad
</figcaption></figure>

<p>The selected design can be seen at the right-hand end of the 3rd
row.</p>
<h2>Material Design</h2>
<p>Both before and after the pencil sketching i was thinking about
the methods and materials. I figured that the flat design
would not
influence or be influenced by my
choice of materials;
i didn’t feel like i had to
finalise the design before choosing materials or vice versa.
The material list included wood,
stone, lava, Dibond (a composite panel), Corten (weathering
steel), as well as concrete. The mark/method list included
PU paint, etching, pyrography, UV Ink, glass, modelling, stencil.</p>
<p>The eventually realised design is a combination of modelled
concrete with enamel paint over.</p>
<p>Budget and time constraints are somewhat ridiculous /
immaterial.
If you want a house number go to B&amp;Q: screw-on numbers are a
fiver each and a plaque is around GBP 30.
And, they’re fine; they’re not high art (but then, neither is
mine), but they are perfectly functional. Every house in your
neighbourhood has these and no one thinks it’s bad.</p>
<p>If you want something <em>really</em> fancy you can get stencil-cut
Corten for about GBP 75 per glyph.</p>
<p>I had to do the project because i love the idea. And i do.</p>
<h2>Digital stage</h2>
<p>The 30mm high pencil sketch was photographed with my phone and
imported into Glyphs for digitisation.
I made a version of the <strong>4</strong> that
is reasonably close to the pencil sketch, but
it was modified somewhat in the digital stage.</p>
<p>The digital version used for laser printing is the canonical version.
The overall shape is the same as the sketch, but the thick/thins
have changed a little: the pencil sketch is thicker in the
horizontal stroke;
the digital version is thicker in the vertical stroke.
The digital version is slightly more conventional in this
regard, but looking at published fonts shows that there is
considerable variation in the thick/thin strokes of <strong>4</strong>.</p>
<p>The digital version requires making some very definite decisions
that a pencil sketch can leave somewhat ambiguous.
These are all things that require a bit of fiddling to judge,
and i find it much easier to do that digitally:</p>
<ul>
<li>Should the strokes be perfectly straight or should there be
  (reverse) entasis? Straight.</li>
<li>Should the thin stroke taper? No.</li>
<li>Where the thin diagonal joins the horizontal and vertical
  strokes, how much corner should be clipped? A little.</li>
<li>Decide at what angles the three strokes should be terminated,
  and how much baseline overshoot to have (a little).</li>
</ul>
<p>It was at this stage that the design of the <strong>1</strong> changed.
I’m not excited about the design of most of my <strong>1</strong>s and
in this fairly undecorated san-serif style the design is basically
a vertical rectangle.</p>
<p>The pencil sketch has a rectangle + a short stick, the redesign
has a rectangle with a corner clipped out.
I like that the strong angle of the <strong>4</strong> is echoed in the <strong>1</strong>
and that’s just enough to stop the <strong>1</strong> from being just a
rectangle.</p>
<h2>Laser Printing</h2>
<p>The <strong>4</strong> was laser printed at final design size, 120mm high.
For someone reason i didn’t print the <strong>1</strong> as well, but no
matter, i drew it with a ruler on another piece of paper.
I can then slide the paper around to decide on final spacing.
And fix that to my mat with tape.</p>
<figure>
<img alt="A large «14» on white paper. The «1» has been drawn with
  a marker pen; the «4» to its right is on another piece of
  paper and has been laser printed" src="image/concrete/LaserPrint.jpg" style="height:84vmin">
<figcaption>
The partly laser-printed 14 taped up in the final composition
</figcaption></figure>

<h2>Tracing paper</h2>
<p>For most of my linocuts i transfer the art to the lino using
tracing paper.
In this case the “lino” is a piece of bathroom
flooring vinyl, and the woodgrain texture makes it quite hard
to transfer a very definite line.
Which leads to me making a mistake when going over the outline
on the angle of the stroke termination at the bottom of the
<strong>4</strong>; later corrected just before cutting.</p>
<h2>Cutting</h2>
<p>For a crisper edge and a more vertical slope i used the Maun
Safety Ruler and a scalpel to make vertical cuts around the
outline, before cutting the material out with the usual
linocutting tools.</p>
<figure>
<img alt="A «14» mirrored in outline on a piece of bathroom floor
  vinyl. The first cuts have been made into the lino to outline
  the figure 4." src="image/concrete/FirstCut.jpg" style="width:84vmin">
<figcaption>
A few cuts in on the lino. Note how the design is mirrored at
this stage
</figcaption></figure>

<p>All my other linocuts were relief prints, where the figure is
the uncut part. I was going to cast on this linocut so both the
cut and uncut areas would leave an impression on the cast.
The cuts i made in the lino make a very shallow
trench which appears in relief in the cast.
So, unlike a regular linocut where the cuts themselves don’t
matter much (sometimes they leave a chatter on the final print),
here every cut would appear on the cast.</p>
<p>I used the cuts to add a second oriented texture to the cast.
The bathroom vinyl already has a horizontal woodgrain texture;
i made mostly vertical cuts to cross that with a vertical
texture on the relief.</p>
<figure>
<img alt="a close-up shot of the finished linocut showing most of
  the cut design from the corner of the 4. It’s clear to see
  most of my cuts have been vertical, providing a contrasting
  texture to the horizontal woodgrain effect on the vinyl" src="image/concrete/LinoCloseup.jpg" style="height:84vmin">
<figcaption>
The complete linocut in sexy close-up
</figcaption></figure>

<h2>Framing</h2>
<p>I used various bits of spare cardboard to decide the dimensions
of the frame which would become the size of the finished
concrete panel.
Then off to the new (pre-loved) chop saw to make the frame from
spare wood.</p>
<p>On the lino i stuck two strips of Gorilla tape top and bottom
which will create a smooth texture zone at the top and bottom as
an additional decorative element.</p>
<figure>
<img alt="a crude wooden frame is screwed onto a piece of cut
  bathroom vinyl (showing the number 14). The vinyl is slightly
  lifted off from the cutting mat, suggesting the piece of OSB
  behind. A few items lay about on the table: a Pilot V5 pen, an
  expensive pencil sharpener made from aircraft aluminium." src="image/concrete/Framed.jpg" style="height:84vmin">
<figcaption>
Wooden frame screwed down onto the vinyl
</figcaption></figure>

<p>The pieces of the frame are screwed through the lino onto a
piece of OSB at the back.</p>
<h2>Filleting and painting</h2>
<p>For the final design i wanted a rounded edge on the front of the
concrete panel.
I also didn’t want concrete to flash underneath the wooden frame
so i made a fillet with DAS modelling clay.
I found this step quite annoying, possibly because it was my
first modelling clay project (and it wasn’t entirely succesful,
continue reading).</p>
<figure>
<img alt="a close up of where the vinyl meets the edge of the
  frame. Modelling clay has been somewhat messily pressed into
  the edge, and a metal tool with an elongated spatulate
  business-end is pressed into the clay." src="image/concrete/Fillet.jpg" style="height:84vmin">
<figcaption>
Attempting to make a neat fillet with modelling clay and cheap
tools from CPC
</figcaption></figure>

<p>The whole thing i then painted with liquid vaseline which was
quite expensive and not obviously any better than a spare can of
silicone lubricant that i used on subsequent concrete castings.</p>
<h2>Mixing and Casting</h2>
<p>I am not at all familiar with mixing and casting so there was
much guesswork here, guided by a comment on the side of the tub.
The concrete i used was a dry premix specifically sold for art.
Apparently with appropriate fine aggregates (sand), binders
(fibre glass, i think), and plasticisers (probably).
It’s quite expensive.</p>
<p>The premix is sold by weight, but i needed a specific volume.
I used a final density of 2.4 kg/L for a rough estimate.
I needed a volume of about 0.250 L suggesting around 500g of
concrete required.
In the end i think i added a little more concrete and a little
more water, and kept very few notes about how much of each i was
adding.</p>
<figure>
<img alt="the mixed concrete has been poured and scraped into the
  frame, and roughly levelled with the entirely inadequate
  plastic palette knife meant for inking" src="image/concrete/Poured.jpg" style="height:84vmin">
<figcaption>
Bit disappointed with how messy this wet heap of concrete looks
</figcaption></figure>

<p>Pouring the wet concrete in was quite stressful and resulted in
a big lumpy mess. But then, some magic.
Applying the mouse sander to the side of the frame to vibrate it
suddenly settles the concrete into a mostly flat surface with
that wet sheen you see in professional pours.
Air bubbles were coming up, a lot of air bubbles, so i kept
vibrating from all sides of the frame.
For much longer than i had expected i would need, and there are
still small bubbles in the final piece.</p>
<figure>
<img alt="magically, the surface of the concrete in the frame has
  been made level and appears with that wet slightly bubbly
  texture that is familiar from movies scenes where someone is
  about to step into wet concrete. The mouse sander responsible
  for the vibrating that made this happen rests nearby." src="image/concrete/ConcreteWet.jpg" style="height:84vmin">
<figcaption>
The mouse sander vibrations have worked magic!
</figcaption></figure>

<p>I think larger works would definitely need some more work put
into the vibration stage, maybe with purpose built vibration
tables or bullet vibrators like the professionals use.</p>
<p>Curing takes “1 to 3 hours” and looked like it would have been fine
to pop it out of the frame after 3 hours, but in fact i waited 24.</p>
<h2>Breaking the Frame</h2>
<p>There were no problems separating the casting from the disassembled
frame (yay for vaseline), but
it was now clear that the concrete had bonded with the
modelling clay, instead of separating from it. Not ideal.</p>
<figure>
<img alt="a concrete plaque freshly cast. The number 14 is visible
  slightly raised from the concrete in grey-on-grey. The figure
  of the 14 has a vertical texture from my cuts, the background
  has a horizontal texture from the woodgrain. At the top and
  bottom is a slim smooth horizontal strip." src="image/concrete/BrokenFrame.jpg" style="height:84vmin">
<figcaption>
First sight of the cast, with the frame opened and the cast
flipped over
</figcaption></figure>

<p>I filed away all the rough edges and flashing and eased the
modelling clay edges.
Aesthetically i don’t mind the modelling clay forming a white
trim around the edge even though it’s not intended.
But the modelling clay isn’t supposed to be weatherproof, so
we’ll have to see if it weathers away in the outside exposure.</p>
<p>Also clear at this stage is that the relief is very small, and
the grey-on-grey doesn’t provide enough contrast.
Originally wasn’t sure if i was gonna paint, but now i’m gonna
paint.</p>
<p>Found the Barretine under the stairs and cleaned the front of
the plaque with it.</p>
<h2>Frogtape</h2>
<p>It’s not clear how to paint concrete and the advice you find on
the web is mostly about painting industrial concrete floors.
So i try some plausible options on a second smaller cast object
for paint trials (from half a shampoo bottle, it casts very
nicely).</p>
<p>Humbrol enamel is better than Hammerite.</p>
<p>My plan is to paint the raised figure in white.
And i think i’ll get a cleaner line if a tape up first, so
i diligently tape round everything with Frogtape yellow.
Including fiddly bits inside the counter of the <strong>4</strong> where i
had to get the dissecting probe and a scalpel out.</p>
<p>I didn’t originally plan a design that only had straight lines,
but that’s how it was, and it was better for taping.</p>
<figure>
<img alt="a concrete plaque showing a number 14. The 4 has been
  carefully taped around its outside outline, using quite a
  large number of pieces of yellow tape." src="image/concrete/HalfTaped.jpg" style="height:84vmin">
<figcaption>
Partway through taping
</figcaption></figure>

<h2>Painting</h2>
<p>I used one of those little tins of Humbrol that i assume are
popular with model railway enthusiasts.
Two coats was enough, and though i think a third coat would have
improved the density and the durability, i could also see that
the paint was filling in some of the texture, so i stopped at
two.</p>
<figure>
<img alt="a concrete plaque showing a number 14. Around the figures
  and inside the counter i have carefully taped using Frogtape
  yellow. The numbers are painted white, mostly keeping to the
  lines, and only a little bit on the tape." src="image/concrete/TapedAndPainted.jpg" style="height:84vmin">
<figcaption>
Fully painted
</figcaption></figure>

<p>Looks nice with the tape peeled off.</p>
<figure>
<img alt="a concrete plaque showing a number 14. The background of
  the plaque is a horizontal woodgrain texture. The number 14
  has been painted white, and is slightly raised up and has a
  contrasting vertical and slightly bubbly texture." src="image/concrete/Peeled.jpg" style="height:84vmin">
<figcaption>
Tape off!
</figcaption></figure>

<h2>Backend</h2>
<p>So that’s the front.
The back needed fixings so we could hang it on the wall.</p>
<p>The usual design for house number plaques is holes on the edge
of the plaque and screw through them into the wall.
I think that looks a bit naff.</p>
<p>This is yet another part of this project where i am So Not Expert, but
i found these <a href="https://www.fredaldous.co.uk/products/x-mounting-plates">hidden mounting plates at Fred
Aldous</a>.
They have a simple design where two cleats have a
projecting tooth and a recess that slide into each other.
The clever bit is that the two parts have the same shape.</p>
<p>Ordinarily you screw one part into the wall and one part into
your picture frame.
But i am not screwing into the back of the concrete plaque.
So i glued it with Araldite and borrowed
some vintage pistol clamps from a friend.</p>
<figure>
<img alt="Three red metal clamps sit on my untidy desk and hold the
  concrete plaque in place between two pieces of wood. You can’t
  see the metal mounting plates that are being glued to the
  concrete plaque." src="image/concrete/Clamps.jpg" style="height:84vmin">
<figcaption>
It’s clamping time!
</figcaption></figure>

<p>That worked quite well (it’s not dropped off so far!).</p>
<figure>
<img alt="two metal mounting plates are glued to the back of the
  concrete plaque. Lying off to one side are the two other
  mounting plates that are identical and will eventually be
  screwed into the wall to support the plaque." src="image/concrete/Glued.jpg" style="height:84vmin">
<figcaption>
Mountings plates: two glued, two free range
</figcaption></figure>

<h2>Drill Guide</h2>
<p>One thing i did that i forgot to photograph is a drill guide.
I put the wall-side mounts in place on the back and
on a piece of tracing paper marked where the holes were.
Quite simple but makes the drilling a bit easier:
tape the drill guide onto the wall and drill through it.</p>
<h2>Boxed</h2>
<p>I made a box by cutting, folding, and glueing a saved box from
deliveries.
Do not recommend.
A jiffy bag would have been fine.</p>
<figure>
<img alt="A homemade cardboard box with a concrete plaque resting
  inside, covered with a piece of bubblewrap. Nearby lies a
  little ziploc bag with some screws and 10mm rawl plugs in." src="image/concrete/Boxed.jpg" style="height:84vmin">
<figcaption>
Boxed in
</figcaption></figure>

<h2>Job Done</h2>
<p>With it all boxed up all that was left was to drive down to the
site, eat a lot of cake, and install the plaque.</p>
<figure>
<img alt="Close-up from a corner of the concrete plaque with it
  mounted on site; you get a good view of the woodgrain texture
  and the more bubbly texture of the figure." src="image/concrete/ExteriorCloseup.jpg" style="height:84vmin">
<figcaption>
Sexy close-up
</figcaption></figure>

<h1>END</h1>
</article>

