<meta charset="utf-8">
<title>Field Notes: Windows 3.1 Edition</title>
<body>
<nav>
<a href="concrete.html">(previous)</a>
</nav>
<article>
<h1>Field Notes: Windows 3.1 Edition</h1>
<time>2024-06-04</time>
<address>by drj</address>
<p>Can we create new fonts for 20th century operating systems?
Short version: Yes! Use <code>fontmake</code>.</p>
<h2>Reminder on installing fonts in Windows 3.1</h2>
<p>Use Fonts control panel to install fonts.</p>
<p>This is a bit annoying because i haven't worked out how to sync
folders in DOSBox, so if i copy new files into an already
mounted folder DOSBox won't see it. I have to quit and restart.</p>
<h2>Observations</h2>
<p>Ranalina can be installed. (it is called <em>Ranalint</em> in the
screenshots because i am using the development version which has
a different name from the production version).</p>
<p>Ubuntu Regular can be installed.</p>
<p>In Character Map Ranalina only displays the ASCII range,
but Ubuntu Regular seems fine.</p>
<figure>
<img alt="A screenshot showing a sample of Ranalina font and its
  Character Map; it is clear in the Character Map that the
  entire bottom portion (after «~», at ASCII position 0x7E) is
  not available and is showing the `.notdef` glyph." src="image/win31/RanalintWin311Charmap.png" style="max-width:84vmin">
<figcaption>
Note how the `.notdef` glyph occupies the bottom half
</figcaption>
</figure>

<figure>
<img alt="A screenshot showing a sample of Ubuntu Regular font and
  its Character Map; most of the Character Map shows proper
  glyphs." src="image/win31/UbuntuRegWin311Charmap.png" style="max-width:84vmin">
<figcaption>
Note how most characters are available in Ubuntu Regular
</figcaption>
</figure>

<p>Slightly to my surprise the <code>OS/2</code> table version seems not to
matter.
Ubuntu Regular has a version 3 <code>OS/2</code> table, and Windows 3.1
copes with that, despite the fact version 3 was specified well
after Windows 3.1.</p>
<p>The <code>OS/2</code> table is somewhat forwards <em>and</em> backwards compatible
in the sense that newer versions generally only append fields,
and therefore Windows 3.1 code that "just grabs the bytes from
their known locations" will work even when there are more fields
(which will be ignored).</p>
<h2>Is it the cmap?</h2>
<p>(yes)</p>
<p>I rebuilt <code>ranalina.ttf</code> by converting it to UFO with <code>tx</code> (from
AFKDO) and compiling the UFO to TTF with
<a href="https://github.com/googlefonts/fontmake"><code>fontmake</code></a> (from
googlefonts):</p>
<pre><code>tx -ufo -o ranalina.ufo -f ranalina.ttf
fontmake -o ttf -f ranalina.ufo
# outputs the font file master_ttf/ranalina.ttf
</code></pre>
<p>This version of Ranalina has a different Character Map:</p>
<figure>
<img alt="A screenshot from an emulated Windows 3.1 showing a
  sample of Ranalina font and its Character Map." src="image/win31/RanalintFontmakeWin311Charmap.png" style="max-width:84vmin">
<figcaption>
Note how that in the bottom half,
several characters are present
</figcaption>
</figure>

<ul>
<li>the lowercase is missing, because Ranalina has no true lowercase:
  duplicate entries in the cmap map the lowercase letters to the
  same glyphs as the uppercase, effectively <em>double mapping</em> the
  glyphs and giving them two unicodes. <code>tx</code> assigns each glyph
  only one unicode value when converting to UFO (despite that
  fact that both TTF and UFO support multiple unicodes
  mapping to the same glyph).</li>
<li>various accented letters are missing, because Ranalina
  currently supports these by using combining accents
  (U+0300 COMBINING GRAVE ACCENT and so on), and
  does not encode the pre-composed forms.</li>
<li>however, the remaining "bottom half" characters are shown
  where Ranalina has them, which is an improvement over the
  original Ranalina. For example Œ ± £.</li>
</ul>
<h2>What cmap?</h2>
<p>My (somewhat ad hoc) <code>seefont cmap</code> tool can give some more
insight into the <code>cmap</code> tables.
In the output below, RANALINA.TTF is the original Ranaline font
file; UBUREG.TTF is Ubuntu Regular;
RANA-FM.TTF is Ranalina rebuilt by <code>tx</code> and <code>fontmake</code> above.</p>
<pre><code>; for a in ~/WIN31/RANALINA.TTF ~/WIN31/WINDOWS/SYSTEM/{UBUREG,RANA-FM}.TTF
do
echo ==== $a ====
seefont cmap "$a" | grep '^[^ ]'
done
==== /Users/drj/WIN31/RANALINA.TTF ====
cmap,length, 2020
cmap,sub,0,4,828,0/4 Unicode/BMP+non-BMP
cmap,sub,3,1,28,3/1 Microsoft/Unicode-BMP
cmap,sub,3,10,828,3/10 Microsoft/Unicode-UCS-4
cmap@28 format 4
cmap@828 format 12
==== /Users/drj/WIN31/WINDOWS/SYSTEM/UBUREG.TTF ====
cmap,length, 1514
cmap,sub,0,3,28,0/3 Unicode/BMP
cmap,sub,1,0,992,1/0 Macintosh/Roman
cmap,sub,3,1,28,3/1 Microsoft/Unicode-BMP
cmap@28 format 4
cmap@992 format 6
==== /Users/drj/WIN31/WINDOWS/SYSTEM/RANA-FM.TTF ====
cmap,length, 430
cmap,sub,0,3,20,0/3 Unicode/BMP
cmap,sub,3,1,20,3/1 Microsoft/Unicode-BMP
cmap@20 format 4
</code></pre>
<p>The TrueType <code>cmap</code> table contains a number of subtables each in
a particular format, which correspond to binary file
structures.
The subtables can be in different encodings (for example
Unicode/MacRoman/Shift-JIS), and different subtables can share
the same data as long as it's compatible. The last example in
the previous console output shows the simplest case of this: the
RANA-FM.TTF file has two subtables that in fact share the same
data.</p>
<p>The output of the tool is a bit cryptic, but an example should
clarify. From RANALINA.TTF:</p>
<pre><code>cmap,sub,0,4,828,0/4 Unicode/BMP+non-BMP
</code></pre>
<p>This (CSV formatted) row tells us that the <code>cmap</code> table has a
subtable of <em>Platform Code</em> 0 and <em>Platform Specific Encoding</em>
4, starting at byte offset 828 (from the beginning of the <code>cmap</code>
table); the final part of the row summarises that as Unicode
platform with <code>BMP+non-BMP</code> encoding.
More details in the <a href="https://developer.apple.com/fonts/TrueType-Reference-Manual/RM06/Chap6cmap.html">TrueType Reference
Manual</a>.</p>
<h2>Discussion</h2>
<p>The fonts which display "bottom half" Character Map characters
are UBUREG and RANA-FM and the common cmap subtables between
them are 0/3 and 3/1.
Which one is Windows using? RANALINA.TTF also has a 3/1
subtable, so why doesn't it work?
Is Windows 3.1 using the "Unicode platform" subtable?
It is confused by the presence of a Format 12 subtable?</p>
<p>More investigation required.</p>
<h1>END</h1>
</article>

