<meta charset="utf-8">
<title>Half an alphabet</title>
<body>
<nav>
<a href="ampersand.html">(previous)</a>
<a href="review-tricks.html">(next)</a>
</nav>
<article>
<h1>Half an alphabet</h1>
<time>2021-12-03</time>
<address>by David Jones</address>
<p>Half an alphabet is a good place to pause and reflect.</p>
<p>There should be a good sense of what the font is about.
It's early enough that what is done can be changed, and
there is much yet to be decided.</p>
<p>Some of the to-be-drawn letters will be easy, some will be hard,
some will fall in the middle.</p>
<p>Take this alphabet that is partially complete.</p>
<figure>
<img src="image/half/alphabet.svg">
<figcaption>
Some good letters but not a whole alphabet
</figcaption>
</figure>

<p>We can already say a lot about the font.
It is a bold and wide sans-serif;
The <strong>O</strong> and other round parts of the font
are distinctly square;
there is almost no contrast in the usual
horizontal and vertical strokes which
are nearly identical in thickness,
except for the middle crossbars (<strong>B</strong> <strong>E</strong> <strong>H</strong>)
which are thin;
terminals are blunt cut, but softly rounded,
the terminals facing up and down being
slightly rounder than horizontally facing terminals;
there is the slightest hint of an axis (NE to SW)
in that generally the NE and SW corners are pulled
to be slightly more square than on the other diagonal.</p>
<p>But we can't say everything.
We don't know what the <strong>S</strong> or <strong>K</strong> will look like
(actually i am drafting the <strong>S</strong> now).</p>
<p>But we know more about what the <strong>T</strong> will look like,
even without drawing it.
The <strong>T</strong> will be easy to draw.
It will have a horizontal stroke from the <strong>E</strong> and
a vertical stroke from the <strong>H</strong>.
Which leaves only the overall width, and
the symmetry of the side strokes to be decided,
and some minor fussing over the terminals and joins.</p>
<figure>
<img src="image/half/t.svg">
<figcaption>
A rough T drawn from pieces of E and H
</figcaption>
</figure>

<p>We can say a little bit about <strong>G</strong> but not everything.
The <strong>G</strong> is a middling case.
It will look more-or-less like the <strong>C</strong> with some sort of crossbar/spur added.</p>
<figure>
<img src="image/half/g.svg">
<figcaption>
A crude extension of C to G
</figcaption>
</figure>

<p>The <strong>K</strong> is harder, in the sense that right now we know less about
how it might look.
The vertical stem of the <strong>K</strong> will probably look much like the <strong>H</strong>;
but for the rest of it,
there are fewer parts we can re-use from already drawn letters.
There is more to decide and more to draw.
Will the stroke of the arm be substantialy thinner than the leg?
Will the leg and the arm join at the midway point, or higher?
Will the junction be attached to the vertical stroke?</p>
<figure>
<img src="image/half/SomeK.svg">
<figcaption>
A slection of K
</figcaption>
</figure>

<p>Personally i like to match my mood and energy to the task ahead,
so i like to divide up the work a bit.
If i'm tired and lacking inspiration i'll work on developing the
easier letters, <strong>T</strong> and <strong>I</strong>.
If i feel like i can take on a challenge, i'll do <strong>K</strong> or <strong>S</strong>.</p>
<p>If i feel indestructible, i'll do <strong>&amp;</strong> or the numbers.</p>
<p>The numbers shocked me a little bit when i first tried drawing them
in a proper font.
Mostly they look nothing like the letters.
The 2 has an arc joined to a diagonal line.
The 7 has a diagonal stroke that
might be curved even when nothing else is.</p>
<p>The reason is of course the descent of numbers.
The present-day numbers matched with latin fonts are
descended from arabic descended from indic.
The present-day latin letters are descended from
Carolingian bible script (lower case) and
from Roman monumental inscriptions (upper case).
Different origins.</p>
<p>You can approach this in terms of information or
principal components.
Given an <strong>E</strong> and an <strong>H</strong> could you predict a <strong>T</strong>? Yes,
<strong>T</strong> brings little new information, it lies in the
<em>plane</em> of <strong>E</strong> and <strong>H</strong>.
What about <strong>S</strong>? you can predict some things about it, but
not everything.
It resolves into components, one of which is in the <strong>E</strong> <strong>H</strong>
linear subspace, the other components being orthogonal to it.</p>
<p>It helps to be deliberate and mindful at this stage in plotting
the future drawing.</p>
<h1>END</h1>
</article>

