<li>2024-06-04 <a href="field-notes-win31.html">Field Notes: Windows 3.1 Edition</a></li>
<li>2024-02-28 <a href="concrete.html">Concrete Numbers</a></li>
<li>2023-04-26 <a href="review-editors.html">Review of Six Text Editors</a></li>
<li>2023-03-08; updated 2024-03-12 <a href="ripple.html">Rainbow Ripple, how do you ripple?</a></li>
<li>2022-07-22 <a href="mica.html">mica—a utility for missing accents</a></li>
<li>2022-04-12 <a href="10points.html">10 points</a></li>
<li>2021-12-04 <a href="review-tricks.html">Type Tricks</a></li>
<li>2021-12-03 <a href="half-alphabet.html">Half an alphabet</a></li>
<li>2021-05-19 <a href="ampersand.html">A few good ampersands</a></li>
<li>2021-05-06 <a href="review-geometry.html">The Geometry of Type</a></li>
<li>2021-04-14 <a href="review-arcade-game.html">Arcade Game Typography, a review</a></li>
<li>2020-10-18 <a href="review-elements.html">The Elements of Typographical Style, a review</a></li>
<li>2020-08-31 <a href="6-book-preview.html">A Preview of 6 Books</a></li>
