<meta charset="utf-8">
<title>Type Tricks</title>
<body>
<nav>
<a href="half-alphabet.html">(previous)</a>
<a href="10points.html">(next)</a>
</nav>
<article>
<h1>Type Tricks</h1>
<time>2021-12-04</time>
<address>by David Jones</address>
<p><em>The Geometry of Type</em> by Sofie Beier.
I have the 2017 BIS Publishers edition.</p>
<p>It is a handy sized paperback book with friendly rounded corners.
Printed in 3-colours:
Black, a silvery marine blue, and a hilarious fluorescent pink.
The pink is used to good effect as a highlight in diagrams and a “sticker
effect”,
but unfortunately it is also used for captions that identify fonts and
their creators, and it is too small and too light to read comfortably in those
captions.
That pink caption niggle is however one of only very few negative things i have
to say about the book.</p>
<p>The cover declares “200+ tips” which undersells the book a little bit.
It is more than a collection of tips to create type.
The tips and tricks have been organised into a coherent program for creating a
font (and possibly font family) from scratch from start to finish.</p>
<p>The book is surprisingly comprehensive for such a compact book.
It <em>does</em> have advice on ampersands, ogoneks, small caps, bold and italic
versions, kerning, the overlapping corner trick.
Almost everything you could want, and certainly enough to get you started.
It's easy to flick through and find something relevant to the type design problem
you are trying to solve.
Being compact however, the advice might be limited to a single sentence or
illustration.</p>
<p>Fun and useful at all stages of making type.
Recommended.</p>
<h1>END</h1>
</article>

