<meta charset="utf-8">
<title>The Elements of Typographical Style, a review</title>
<body>
<nav>
<a href="6-book-preview.html">(previous)</a>
<a href="review-arcade-game.html">(next)</a>
</nav>
<article>
<h1>The Elements of Typographical Style, a review</h1>
<time>2020-10-18</time>
<address>by David Jones</address>
<p>The book is <em>The Elements of Typographical Style</em> by Robert Bringhurst.
I have the second edition.</p>
<p>I bought this book in 1999 soon after it was published, but
didn't give it a thorough read through until this year.
I have only dipped in and out of it.</p>
<p>In recognition of its contribution to our field,
I have taken to calling the book <em>Elements</em> for short.</p>
<p><em>Elements</em> is undoubtedly fundamental and required reading
for all aspiring typographers.
The material is excellent, and the advice is clear and brightly
illustrated with on-point, and occasionally witty, examples.
The book design and typography of the book itself is outstanding
and makes a crafty example of many of the good points the book
outlines.</p>
<p>In contrast to <em>Manual of Typography</em>, Elements takes a
more academically rigorous approach;
grounded in practice, but avoiding practicalities.
You will not find lessons in how to use <em>Fontographer</em> here.
And this is one of the small theses of the book:
That good typography and good typographical style is timeless.</p>
<p>What then, are the elements of typographic style?</p>
<p>Like <em>Manual of Typography</em> the primary subject of <em>Elements</em> is
book design.
Newspapers, magazines, posters, and other forms, do get a look in,
but the examples and the advice are most coherent and cogent
when they appear in the context of books.</p>
<p>The elements are typefaces and fonts, letters, spaces, ink, and
the relationship between all these parts.</p>
<p>The chapters deal with some of these elements separately and
some jointly.
Never so isolated that you are left wondering over some abstract
point, but always leaving some connecting context.
While the linear order is reasonable,
after the first couple of chapters, it would be okay to read the
chapters in whatever order you fancies, or certainly to revisit
a chapter to revise the subject.</p>
<p>The appendices are worth at least a skim through and then
possibly more frequent consulting during and after reading.
Lists of sorts (we would probably say glyphs or forms now),
terms, designers, and foundries, and an admirable reading list.</p>
<h2>Contents</h2>
<ol>
<li>
<p>The Grand Design</p>
</li>
<li>
<p>Rhythm &amp; Proportion</p>
</li>
<li>
<p>Harmony &amp; Counterpoint</p>
</li>
<li>
<p>Structural Forms &amp; Devices</p>
</li>
<li>
<p>Analphabetic Symbols</p>
</li>
<li>
<p>Choosing &amp; Combining Type</p>
</li>
<li>
<p>Historical Interlude</p>
</li>
<li>
<p>Shaping the Page</p>
</li>
<li>
<p>The State of the Art</p>
</li>
<li>
<p>Prowling the Specimen Books</p>
</li>
</ol>
<h2>Chapter 1 The Grand Design</h2>
<p>This chapter is the manifesto.
First, the text. Do not overdress the text, but at the same time,
do not leave it limp and lifeless on the page.
Taste is often a matter of having a little decoration, but
not too much.
Bring joy to the page, but not the rictus of the joker.</p>
<p>This chapter also introduces the rest of the book,
letting you plot your own way through it.</p>
<h2>Chapter 2 Rhythm and Proportion</h2>
<p>A bit of musical allusion here.</p>
<p>For a kerning consultant this is
one of the more exciting chapters.
There are lots of useful tips about spacing, and proportion.
I'm amused that sometimes the advice is:
some fonts have bad or no kerning tables, you’ll have to fix that.
Advice that is repeated in the Specimen chapter (Chapter 10).</p>
<p>The kerning advice is excellent, covering not just the basics,
such as kern «To» and your «Av», but
also the slightly more advanced ideas like
please kern «Tc» because while it doesn't appear in English,
it's embarrassing if you can't typeset <em>Tchaikovsky</em> properly.
It goes beyond that into some advanced topics like diacritics:
«Wo» should be kerned, but with a diacritic, «Wö», should not.
Incidentally, this example appears in the OpenType documentation
illustrating an example where you might want to <em>lower the diacritic</em>.
Thankfully I've not seen that in action.</p>
<p>It's nice to see some advide about
contextual kerning of apostrophes, such as «L’Anse» where you
should check that the «L’» kern and the «’A» kern don't together
cause the L and A to clash.</p>
<p>But kerning is just one part of the chapter.
There is good advice on spacing and setting in the horizontal domain,
the vertical domain, and their interactions in paragaph spacing, as
well as good stuff on blockquotes, pull quotes and so on.</p>
<p>Should probably read in conjunction with
Chapter 8, Shaping the Page.</p>
<h2>Chapter 3 Harmony and Counterpoint</h2>
<p>The musical theme continues,
opening with a parallel between
musical scales and typographic size scales.</p>
<p>There is more advocacy in this chapter.
Advocating for a minimal scale of sizes, for text figures,
small caps, ligatures, and robust support for non-English texts.
Advocating against unnatural use of bold, bold italic, and
poorly designed sloping styles.</p>
<p>It is a densely packed chapter and worth re-reading.</p>
<h2>Chapter 4 Structural Forms &amp; Devices</h2>
<p>This is about navigational systems in text documents.
Titles, chapter titles, headings, paragraph breaks, footnotes,
marginalia, page numbers, and so on.</p>
<p>Much of the advice in this chapter is supported with examples
from the book itself.
<em>Elements</em> has excellent book design,
making this one of the strongest and clearest chapters.
The advice: A book should usually have a half-title and a title;
the example: check this book's title pages!</p>
<h2>Chapter 5 Analphabetic Symbols</h2>
<p><em>Analphabetic</em> here means,
the shapes and symbols that are not in the alphabet,
but as <em>Elements</em> says “travel with the alphabet but never quite belong”.
The dots, commas, strokes, brackets, splats, squiggles, and other
specialised and comedic members of our fonts.</p>
<p>Initially I thought that <em>analphabetic</em> was
a bit of a silly term and a bit of a mouthful to verbalise.
I guess I'm “in” now, because I think it's okay.
But maybe non-alphabetic would be clearer.</p>
<p><em>Elements</em> has lots of say about hyphens, naturally.
One and a half pages. Hang them, incline, redesign them.
No love of the foundry staff here,
blaming them for hiding and mistreating the auteurs intent.
This is entirely normal amounts of words to spend on hyphens.</p>
<p>Plenty of good advice on dashes, ellipses, apostrophe, brackets,
parentheses.
Amusingly, some of the advice is is make your own hyphens or brackets,
or steal them from another font.
“If a font had bad accents, I would simply design my own”.
I accept that this could well be the best advice sometimes.
But surely the jobbing typographer doesn't have
the tools to edit a font even if they have the inclination and the skill?</p>
<p>Some of the advice is sufficiently questionable that
it is not followed in <em>Elements</em> itself.
Hyphens at the line's end should hang in the margin.
But only the two pages that contain that advice have used
hanging hyphens.</p>
<p>Apparently the solution to the problem of
"should full stops at the end of
quotes appear inside the quotation marks",
is to kern the quoation marks over the full stops,
so they appear one above the other, aligned vertically.
I find this advice quite surprising, I'm willing to try it,
but <em>Elements</em> doesn't try it.</p>
<p>The chapter ends with a piece of advice that is
a brilliant blend of practical and impractical:
a suggested keyboard layout (with Control, Shift, and Alt modifiers)
that improves on the OS provided ones and gives
the typographer access to
the most used latin script alphabetics and analphabetics.
Have you tried installing your own keyboard layout?</p>
<h2>Chapter 6 Choosing &amp; Combining Type</h2>
<p>Lots of practical advice,
often reflecting two recurring themes of <em>Elements</em>:
draw type from the same historic period;
draw type from the same designers.
<em>Elements</em> illustrates these points with well chosen examples.
Some advice is intended to defamiliarise:
consider a blackletter instead of a bold,
separate the italic from the roman and
use it as a font in its own right (as typographers used to).
There is very useful advice for typography across multiple scripts.
Extending support and advice for
working in latin, greek, and cyrillic scripts is also
something of a recurring theme.</p>
<h2>Chapter 7 Historical Interlude</h2>
<p>I suspect this was the chapter that Bringhurst enjoyed most.
The academic research is highlighted here.
The fruits of the labour of digging in the archives.</p>
<p>This is more than a mere interlude however.
The history of typography gives us
insight into the typefaces we use today.</p>
<p>Knowing a little bit of history allows us to
navigate typographic styles more confidently.
Knowing more history allows us to
model that history in our typography.
Making deliberate choices to emulate or echo a particular period
and harmonising our designs so that the fonts chime with each
other and with other aspects of a design.</p>
<h2>Chapter 8 Shaping the Page.</h2>
<p>This is the most technical and the most esoteric.
Typical of twentieth century manuals it implicitly
assumes that the end-goal of typographic style, is book design.
The ideas in this chapter are around page shape,
text block shape, ratios golden and harmonic,
ratios of columns to margins,
margins to one another, ratios of page width to page height, and
so on and so forth.</p>
<p>The ratios are curated in a "my favorite ratios" table,
with references to ancient greek mathematics, Fibonacci sequences,
temperament in musical theory, and ISO 216.</p>
<p>I find the topic both bewildering and bemusing.
Is it really the case that the golden ratio (~ 1.618) is
sufficiently superior to 5:8 (1.6) to be noticeable?
Once I've folded my sheets, sewn sections together and
trimmed them, will I really be able to tell the difference anyway?
In a book 200mm high the difference between a page
ratio of 1.6 and a ratio of 1.618 is about 1.4mm in the width of
the page.
A folio on the outside of a section will be wider than a folio
on the inside, because the folio on the outside will have to
curve around the thickness of the section.
In my copy of <em>Elements</em> that thickness is about 0.7mm,
so if we were to carefully unbind the book
the trimmed pages would differ in width by up to 0.7mm.</p>
<p>Having said all that, clearly one should be deliberate in page
design and not merely slap some text into a space.</p>
<p>The chapter has some fine drawings of hexagons, pentagons,
joined pentagons, showing the relationship of various rectangles
to the proportions of regular polygons.</p>
<h2>Chapter 10</h2>
<p>Chapter 10, is called <em>Prowling Through the Specimen Books</em>
which I think is something of an in-joke.
<em>Prowling</em> suggests something that monsters in the night might do.
Typographers are wolves circling the flock, checking out the sheep.
Is there are a weak one that can be singled out, teased away?
Which one will fall prey to the ravenous wolf?
I suppose there are worse fates than being picked out for a book poetry.</p>
<p>It is essentially a “my favourite types” chapter.
Lists of typefaces are always in danger of being a bit dry.
But this one manages to liven things up a little.
The author survey's fonts for hand- and machine-composition, as
well as phototype and digital versions,
occasionally cheekily serving up a recommendation for
a typeface only available in metal.
This section does well as a source of inspiration not only for
typesetting current works but also for
working on some useful revivals.</p>
<p>The chapter concentrates more on romans for body text,
but also has useful sections san serif text faces, blackletter,
uncial, script (meaning like handwriting), greek, and cyrillic.</p>
<p>I sometimes find the notes about the particularly historical
derivation of one typeface or another, or exactly which
foundry's basement the matrices were discovered in,
a bit academic.
But I accept that they provide a fabric in which the
relationships between types are woven.
And those relationships are often useful.</p>
<p>There are notes on speciality typography,
such as a books that are in latin script but also
require fragments of greek or cyrillic.
Helping you choose which typefaces could be used or which pairs will
work well together.
Useful if you need to do that sort of work.</p>
<p>END</p>
</article>

