<meta charset="utf-8">
<title>Review of Six Text Editors</title>
<body>
<nav>
<a href="ripple.html">(previous)</a>
<a href="concrete.html">(next)</a>
</nav>
<article>
<h1>Review of Six Text Editors</h1>
<time>2023-04-26</time>
<address>by David Jones</address>
<ul>
<li><a href="https://github.com/deadpixi/tine"><code>tine</code></a></li>
<li><a href="https://www.nano-editor.org/"><code>nano</code></a></li>
<li><code>pico</code></li>
<li><a href="https://micro-editor.github.io/"><code>micro</code></a></li>
<li><code>mcedit</code></li>
<li><a href="https://github.com/vigna/ne"><code>ne</code></a></li>
</ul>
<p>When I say <em>text editors</em> i mean text editors in the
tradition of <code>ed</code>/<code>vi</code>/<code>edlin</code>:
Editors used in the terminal suitable for editing code / text.
For now, i'm not considering the other sort of editor, the GUI
editor (like Notepad or VS Code).</p>
<p><img alt="Close-up of help and home keys" src="image/HelpKey.jpeg" style="width:88vw"></p>
<p>My day-to-day editor is <code>nvim</code> (Neovim, a descendent of <code>vi</code>),
but i've used a few weird editors, and i used <code>/bin/ed</code> and
<code>emacs</code> for long enough to be fluent in those too.</p>
<p>I spent 6 consecutive weeks trying 6 different editors;
each for 1 week.</p>
<p>It is clear from the notes below that most of the editors had
some niggle or other: either installing, or colours, or
use of the mouse, or function keys or arrow keys.
I'm using <code>kitty</code> on macOS and these editors are probably
native to Linux.
In the sense that they mostly get developed and used on Linux.
Possibly these niggles go away in Linux world.
Possibly these niggles can be "fixed" by suitable environment
variables, configuration variables, and other spells that take
longer than a week to learn.
Your mileage may vary.</p>
<h2><a href="https://github.com/deadpixi/tine"><code>tine</code></a></h2>
<p>This is without a doubt the weird one of the bunch.
It's a 21st century recreation of <code>ED</code> from AmigaDOS/TRIPOS.
A friend suggested i check it out.</p>
<p>From git, and compile using <code>make</code>.</p>
<p>It is... quirky, dusty, and with a faintly Cambridge Computer
Lab aura.</p>
<p>I am trying to use it while barely having skimmed the man page.
You can't delete a line by "deleting the newline character".
Because its text model isn't "a file is a stream of bytes" model
that is one of the cornerstones of Unix.</p>
<p>The model is more like "a text file is a sequence of records".
While this seems odd from a modern perspective,
<code>tine</code> shares heritage with editors that i've used (at Cambridge)
that treated lines very separately from characters.
So, while i've used the Unix-model of "a file is a stream of bytes"
for long enough that this is weird,
i've also used enough record-based systems that i get it.</p>
<p>The "can't delete the newline" quirk is related to the
"you <em>can</em> move the cursor off the end of a line" quirk.
The lines don't seem to end, you can just keep going to the
right "off the end".</p>
<p>By the way you can join lines with Ctrl-N (or Esc J Ret).
And pressing Esc to enter a command mode is sufficiently vi-like that
i was successfully able to quit the first time i used it without having
read the manual.</p>
<p>I miss just pressing <code>/</code> to start a search (like <code>vi</code>), but
i still like search enough that i used <code>Esc BF/something Ret</code>
to find something.</p>
<p>Some commands (Ctrl-E and Ctrl-]) have a "self flipping" behaviour:
go to end, but if there, go to beginning.
I quite like that, and it compacts the keyboard-command mapping
by avoiding 2 separate commands.</p>
<p>The status line is fittingly minimal.
I appreciate a compact status line, probably because
the first versions of <code>vi</code> that i used didn't display much
on the bottom line.</p>
<p><code>tine</code> displays the portion beyond the end of the file as a
grey/checkerboard area.
Initially i found this a bit offputting, but you quickly get used to it.</p>
<p>Overall i like it. it combines the friendliness of <code>nano</code>
with the hostility of <code>/bin/ed</code> and has a command language
reminiscent of the editors i used in the early 1990s.</p>
<p>I've used it for some code, initially without autoindent because
i couldn't be bothered to read the manual.
I was using Go and i tend to type in a somewhat chaotic style
and leave the formatting to <code>go fmt</code>, so the lack of autoindent
was fine.</p>
<p>Switch on autoindent with <code>Esc AI Ret</code> by the way.</p>
<p>Worth checking out if you like quirky editors and you appreciate
minimalist designs.</p>
<h2><a href="https://www.nano-editor.org/"><code>nano</code></a></h2>
<p><code>nano</code> was created as a clone of <code>pico</code>,
because at the time the creators of <code>nano</code> didn't like the
license for <code>pico</code>.
Now <code>nano</code> is a slightly grander project with ambitions of its
own (and <code>pico</code> switched to APL).</p>
<p>I like the simplicity of <code>nano</code>.
I recommend it for a variety of "beginning code" courses
where the students may not have previously used a text editor.
That’s because it’s reasonably easy to use, and it is likely
to be already installed.</p>
<p>One of the features that i like is that it tells you
that "exit" is  <code>^X</code> in the shortcut area at the bottom.</p>
<p>But that brings me to a thing that i don't like:</p>
<ul>
<li>the space taken up by the shortcut area at the bottom.</li>
</ul>
<p><code>nano</code> is pretty wasteful with screen area (because <code>pico</code> was).
Of the 25 lines in my display, 5 are not available for editing text:</p>
<ul>
<li>2 lines at the top: one for a title (editor name, file name, modified state)
  and one for a permanently blank line below it (!);</li>
<li>3 lines at the bottom: 2 of which are a memo for the shortcuts, and
  above those 2 lines a status line that is blank most of the time.</li>
</ul>
<p>The blank line below the title is just wasteful, remove it.
The line above the shortcuts is used as a sort of temporary message area
(for example,
press <code>^C</code> and you get a report of the current cursor position).
I think you could probably combine that and the title line into a
single status line.
You would probably have to get rid of the "GNU nano 2.0.6" that is
permanently displayed.
Although, maybe permanently displaying
the editor name and version is useful?
How else would i discover that <code>nano</code> supplied by Apple
dates from 2006 (the license changed to GPL 3 shortly after,
so maybe that explains why)?</p>
<p>I think 3 lines of meta/status would be possible: 2 for shortcuts, and
1 for status/title.</p>
<p>With effort it would be possible to reduce the shortcuts to 1 line
(they currently include fairly obscure shortcuts like <code>^J
Justify</code> and
<code>^R Read File</code> as well as <code>^Y Prev Page</code> and <code>^N Next Page</code> when in 2023
<code>PageUp</code> and <code>PageDown</code> probably work).
Put the cursor position on the status line and
you can get rid of <code>^C Cur Pos</code> too.</p>
<p>I suppose <code>^J Justify</code> and <code>^R Read File</code> make more sense it the context
of an editor that was used for an e-mail system in the 1990s, where
both of those functions would be useful.
But i live in 2023.</p>
<p>Also, i brag about <code>PageDown</code> working, but Ctrl-arrow doesn’t work
for me, so Next/Previous-Word doesn’t work. <em>sigh</em></p>
<p>Function keys are good, and i appreciate that nano has presets for them.</p>
<h2><a href="https://alpineapp.email/"><code>pico</code></a></h2>
<p>Well, score minus several million because i had to find <em>Alpine</em>
source tar balls and compile from source.
But that didn't work until i had "fixed" the <code>configure</code> script
on macOS to remove all the <code>APPLE_KEYCHAIN</code> stuff.</p>
<p>It's been a long while since i've used <code>pico</code>
(i used to use the e-mail system <code>pine</code> at uni).
Everything i said about <code>nano</code> probably applies to <code>pico</code>.
Because of their shared heritage
(<code>nano</code> was created as a clone of <code>pico</code>), they are very similar.</p>
<p>The wasteful space at top and bottom that i was complaining about in 
<code>nano</code> is basically an exact copy from <code>pico</code>.</p>
<p>While the documentation claims that it uses F3, it
does not in fact work.
At least Ctrl-arrow works (unlike <code>nano</code>).</p>
<p>Lack of Lisp mode or bracket matching makes my
attempts to program in Racket challenging.
Like the 1990s.
Although, i did program a bit of Lisp in the 1990s and i used
SunOS <code>vi</code>, which did have just enough of a Lisp mode.</p>
<p><code>pico</code> automatically word wraps (at something reassuringly short like
72 columns).
This makes using it for programming challenging.
It turns out that you can switch this off,
with a <em>command line option</em> only (<code>pico -w</code>).
It's one of the reminders that <code>nano</code> isn't just a clone,
it is more popular and has more eyes looking at it, and more
hands working on it.
Compared to <code>pico</code>, the fit and finish of <code>nano</code> is
just a little bit better.</p>
<p>Most people would be better off choosing <code>nano</code> over <code>pico</code>,
unless they are particularly allergic to GPL
(<code>pico</code> uses Apache License 2.0).</p>
<h2><a href="https://micro-editor.github.io/"><code>micro</code></a></h2>
<p><code>micro</code> continues the trend of editors named after prefixes in
the SI/Metric system, 
each a thousand times larger than the previous:</p>
<ul>
<li>pico 10⁻¹²</li>
<li>nano 10⁻⁹</li>
<li>micro 10⁻⁶</li>
</ul>
<p>I had to download <code>micro</code> as a tarfile and install by hand.
Charming (in both non-ironic and sarcastic senses).
It's implemented in Go and distributed as a single binary.
I appreciate that.</p>
<p>The default colour scheme is annoying, but
i discover how to switch it off.
After that, the default default colour scheme
is actually quite nice.
The background is not quite black,
and the current line is subtlely highlighted with a grey
that is just a shade lighter.</p>
<p>Line numbers are on the left in a dimmer shade.
Clear enough to read if you need them, but not distracting, and
different enough that they are clearly not the text.</p>
<p>Matching bracket highlighting is automatic and uses just an underline;
it's a bit quirky, but you get used to it and
i like it (it is very handy when i'm editing Racket).</p>
<p>Mouse support is on by default; i appreciate that
trackpad scrolling scrolls the viewport without changing the line
that the cursor is on.</p>
<p>There is less information about this editor on the web than
some of the other editors, so sometimes finding shortcut keys
and so on was a little bit more involved.</p>
<p>I didn't have much to say about <code>micro</code>;
perhaps that's a sign of how unassuming it is.</p>
<p>If i was looking to switch editors,
i would seriously consider <code>micro</code>.
The only drawback for newcomers is the currently awkward install
experience.</p>
<h2><code>mcedit</code></h2>
<p><code>mcedit</code> is the editor bundled with Midnight Commander, which
is a recreation/homage to Norton Commander, a paradigmatic
<a href="https://en.wikipedia.org/wiki/File_manager#Orthodox_file_managers">Orthodox File
Manager</a> originating in 1980s DOS systems.</p>
<p>It is easy enough to install using</p>
<pre><code>brew install mc
</code></pre>
<p>The colour sceme is slightly awful.
It's general look-and-feel is sophisticated DOS program (deliberately).</p>
<p>i discover that pressing Esc Left-arrow instantly quits the
editor (it looks like a crash, but no bad error code).
But i also discover it restarts exactly where i left off.
Still, that's weird.
Later i discover that this is activating the quit editor command;
probably by mis-parsing the input keys.</p>
<p>Status bar at the top, F-keys at the bottom.
It's a very compact and informative arrangement.
The status bar is perhaps a little bit overwhelming for first-time users.</p>
<p>The awful colour scheme is awful.
The default of white on blue is acceptable, and
very reminiscent of DOS-era Turbo Pascal 2.0.
I suspect on my macOS / kitty setup the blue is lighter than intended
(screenshots on Linux show a much darker blue, more like CGA text mode
dark blue).</p>
<p>But the syntax highlighting is unacceptable.
Section headings in markdown are rendered using red making them
almost unreadable and this user's setup;
i had to, again, disable syntax highlighting:</p>
<pre><code>: &gt; ~/.local/share/mc/syntax/Syntax
</code></pre>
<p>That still doesn't fix the wrong tint of blue.</p>
<p>I don't have any more notes, which i guess means that i spent
the week without too many frustrations.</p>
<p>If you like DOS-era interfaces, you'll definitely like <code>mcedit</code>.</p>
<h2><a href="https://github.com/vigna/ne"><code>ne</code></a></h2>
<pre><code>brew install ne
</code></pre>
<p>Confusingly for me, <code>ne</code> happens to be the same name as <code>New E</code>.
<code>New E</code> was Phil Hazel's new version of <code>E</code>;
<code>E</code> being the preferred full screen editor for the IBM 3084Q system
affectionately known as PHOENIX.</p>
<p>The default colour scheme is okay, although i wonder how it would
work on a more mac-like white terminal.</p>
<p>There are significant redraw bugs; they
don't prevent me from seeing the text, but they do continue to
plague the week's editing experience..</p>
<p>I was able to quit without reading any documentation by
virtue of the fact that pressing ESC shows, after a small pause, the menus.
Which are rather DOS/CUA like, without actually being very
<a href="https://en.wikipedia.org/wiki/IBM_Common_User_Access">CUA compliant</a>.</p>
<p>Sharing the status bar with the menu is quite a nice
space-saving feature.</p>
<p>I have even fewer notes for this editor, perhaps
a combination of: a bit of Week 6 weariness;
<code>ne</code> being fairly non-descript;
the screen update bugs being a bit tiresome.</p>
<h2>Overall thoughts</h2>
<p>Can we please put a little bit of effort into making the mouse,
function keys, and extra keys (like PageUp and arrows) work?
They are welcome features and nice when they work, and
they do work on modern termnals (or should).
We don't have to pretend we're using an ADM-3A any more.</p>
<h3>On colour</h3>
<p>For colour the main problem is a mix of two things:
there isn't a way for a program to know whether
the terminal background colour is black or white
(or some near-black or near-white colour or something else); and,
"default" colour palettes vary, but
most significantly between Linux and macOS.</p>
<p>This is not a theoretical concern, the colour schemes i have observed
mostly vary from unusable to lurid but usable.</p>
<p>First impressions matter, and if my first impressions are an
unreadable colour scheme that i then have to spend 20 minutes looking
on the web for disable codes then that's bad.</p>
<p>My recommendation would be to do something conservative that
is likely to work and avoids colour.
In the 21st century we may not be able to use colour reliably, but
we can use: bright/reverse-video/underline.
Anyone wanting colour should be able to find documentation and
enable it.
And those colour themes should say whether they are dark mode or not.</p>
<p>Perhaps something like CSS's <code>prefers-color-scheme</code> (aka "Dark
Mode" support) could be implemented in terminals:
a way to let the app know the preferred colour scheme, or
an abstract palette.</p>
<h3>Mousey</h3>
<p>I don't start out as an expert in using your editor, so
being able to use the mouse (and arrow keys!) to navigate
is quite welcome.
While i personally appreciate the <code>vi</code> approach of having 42
different motion commands, i also appreciate how user-hostile
that approach is.</p>
<p>The chief problem here is that enabling mouse support invariably
disables the terminal's mouse cut-and-paste, so now i have to learn
an editor-specific shortcut for using the true clipboard.</p>
<p>There is some variation in scrollwheel/trackpad behaviour:</p>
<ul>
<li>neovim: moves cursor (with implied scrolling at window edges)</li>
<li>micro: scroll window, cursor pinned to document</li>
<li>mcedit: scroll window, cursor pinned to screen</li>
</ul>
<p>I suspect that <code>neovim</code> is the <em>naive</em> mode: i have disable <code>neovim</code> mouse
support, so the terminal is sending default key codes for scrolling
which turns out to be the up/down arrow keys.
Which on my mac are reversed in honour of Steve Jobs.</p>
<p>(Now that i have used a few editors where mouse support works well,
i may remove the mouse disable code from <code>neovim</code>.)</p>
<p>The good thing about mouse scroll is that the actual behavious is
instantly comprehensible, even if you don't particularly like it.</p>
<p>I prefer the <code>micro</code> implementation: it separates the action of
scrolling the viewport from the point-and-click action of
moving the editing cursor.</p>
<h2>Closing notes</h2>
<p>I'm encouraged by the diversity and
health of the text-editor-in-terminal ecosystem.
It did not seem at all plausible when i was learning <code>vi</code> in 1992
that those skills would be useful 30 years later.
And that many editors from that era would be available and still
actively used and have been updated to stay current.
And joined by new competitors with clean implementations and
interesting ideas.</p>
<p>Of course, many of you are using VS Code and that is fine.</p>
<p>Try a new editor today!</p>
<h1>END</h1>
</article>

