<meta charset="utf-8">
<title>Skate or Type</title>
<body>
<nav>
</nav>
<article>
<h1>Skate or Type</h1>
<address>by David Jones</address>
<p><em>Where i steal skateboarding terms and re-use them for type.</em></p>
<ul>
<li>aerial: entirely above the cap-line</li>
<li>backside: letter faces the wrong way, or the back side of the
  glyph (left-hand side for latin glyphs).</li>
<li>bail: trashing a glyph before you've finished it, and
  not even keeping a copy in that folder of unfinished dreams.</li>
<li>bearings: ball serifs or any other wheel shaped
  terminal/decoration</li>
<li>boardside: dropping your A or H so that the crossbar sits on
  the baseline</li>
<li>bonk: nose of P touches adjacent letter (or similar)</li>
<li>bowl: the skateable parts of O, D, P, and so on.</li>
<li>Caballaerial: just the best.</li>
<li>carve: the sexy part of n, where the curved part joins the
  vertical stroke.</li>
<li>coping: reinforcing the edges.</li>
<li>crooked grind: strongly asymmetric design on the lip.</li>
<li>crew: your type design people.</li>
<li>disaster: accidentally left bad-orientation outlines in the
  OTF and falling foul of the non-zero winding rule.</li>
<li>drop-in: (as in skate) abrupt transition from horizontal to
  vertical curve.</li>
<li>durometer: device to measure hardness of urethane,
  a polymer used in inking rollers.</li>
<li>faceplant: when font production has gone <em>horribly</em> wrong.</li>
<li>fakie: setting a left-to-right script right-to-left or vice-versa.</li>
<li>flat / flatbottom: When U has a flat bottom.</li>
<li>frontside: the forward side of the glyph in its script's usual
  typesetting direction (right-hand side for latin glyphs).</li>
<li>goofy-foot: drawing with the opposite foot-stance to Kis.</li>
<li>grip-tape: adding texture to your font to increase grip.</li>
<li>half-pipe: U. Better to use this when there is more pipe than vert.</li>
<li>hand-plant: arm reaches baseline instead of foot.</li>
<li>hang-up: a bump in the transition.</li>
<li>hardflip?</li>
<li>hardware: the things that hold your font together, also
  the thing you use to make them.</li>
<li>heelflip: upside-down serifs on feet.</li>
<li>kickflip: swapping the frontside and backside serifs.</li>
<li>kneeslide: sliding on the knees (of a K).</li>
<li>ledge: a horizontal part of an outline longer than
  the usual stroke thickness.</li>
<li>line: a number of features in the same stroke.</li>
<li>lip: the edge of a transition, may have coping / drop-in.</li>
<li>lipslide: a straight part on the lip.</li>
<li>manual: that sweet spot on the spine of the S.</li>
<li>mongo foot: pushing on the frontside.</li>
<li>nollie: popping the frontside on the baseline.</li>
<li>nose: frontmost part.</li>
<li>noseslide: a flat part on the nose.</li>
<li>ollie: popping the backside on the baseline.</li>
<li>pocket: (as in skate) the concave part of the nose or tail.</li>
<li>pump: putting more energy in the transitions.</li>
<li>quarter-pipe: half a half-pipe, in isolation or considered in
  isolation.</li>
<li>rail: a vertical part of an outline longer than
  the usual stroke thickness.</li>
<li>razor tail: sharp bits on the backside.</li>
<li>regular-foot: drawing with the same foot-stance as Kis.</li>
<li>revert: making a backside but keeping the feet on the
  baseline.</li>
<li>riser pads: extending height by adding material just above the
  serifs / terminals.</li>
<li>rock n roll: going up to the vert, then back down again.</li>
<li>session: getting together to draw.</li>
<li>sketchy: poorly executed. Unlike <em>sketches</em>, which are wonderful.</li>
<li>slam: where a downward stroke meets the baseline (possibly
  with not enough transition / serif / decoration).</li>
<li>snake: where one stroke overtakes another and cuts-in (in 
  Arnold Böcklin).</li>
<li>spot: anywhere you can do type.</li>
<li>stall: hanging on those transitions.</li>
<li>switch-stance: drawing with your stance switched from your
  usual one.</li>
<li>tail: backmost part.</li>
<li>tailslide: flat part on the tail.</li>
<li>tic-tac: a lot of wiggle in your strokes.</li>
<li>transition: the bit between the parts that are horizontal or vertical.</li>
<li>trucks: outlines added to aid design that
  you can't see in final OTF.</li>
<li>varial / shove-it: rotating the letter (about an axis
  perpendicular to its plane).</li>
<li>wheelbase: shorter wheelbase means tighter turns.</li>
<li>wheelbite: bad intersection somewhere in a variable fonts
  variation space (too much weight, bad loops, and so on).</li>
<li>wheels: wheels.</li>
</ul>
<h1>END</h1>
</article>

